body {
  background-color: #EDEDED;
  height: 100vh;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  background-color: #274156;
  color: #FBFCFF;
  text-decoration: none;
}

.navLinks {
  color: #FBFCFF;
  font-size: 2rem;
  text-decoration: none;
}

.logo {
  color: #FBFCFF;
  text-decoration: none;
}

.topRow {
  display: flex;
}

.topLogo {
  margin-top: 7px;
  max-width: 50px;
  max-height: 50px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  background-color: #FBFCFF;
  padding: 2vh;
  margin: 2vh;
  border: 1px solid #274156;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.loginRow {
  margin: 1vh;
  padding: 1vh;
  display: flex;
  flex-direction: column;
}

.loginRow--remember {
  margin: 1vh;
  padding: 1vh;
  display: flex;
  flex-direction: row;
}

.loginRow input {
border: 1px solid #274156;
}

.buttonSignIn {
  margin: 1vh;
  padding: 1vh;
  border: 1px solid #274156;
  background-color: #274156;
  color: #FBFCFF;
  text-align: center;
}

.formLink {
  text-decoration: none;
  color: #1C6E8C;
  margin: 5px;
}

.searchForm {
  width: 100vw;
}
.searchField {
  width: 70vw;
  height: 5vh;
  background:rgba(50, 50, 50, 0.2);
  border:0px solid #FBFCFF;
}
.searchButton {
  width: 29vw;
  height: 5vh;
  position:relative;
  border:0px solid #1C6E8C;
  background-color:#1C6E8C;
  color:#FBFCFF;
}

 .list {
   overflow-y: scroll;
   display: flex;
   flex-direction: column;
   list-style: none;
   background-color: #FBFCFF;
   margin-left: -35px;
 }

 .list-item {
   display:flex;
   justify-content: space-between;
   margin: 5px
 }

.list-item__center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.list-item__title{
  font-weight: bold;
  font-style: normal;
 }

 .list-item__subtitle{
  font-weight: lighter;
  font-size: smaller;
  font-variant: all-small-caps;
  color: #605856;
 }

.list-item__right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}

.list-item__right a {
  font-size: 1.5rem;
  padding: 5px;

}

.list-item__hidden {
  color: #FBFCFF;
  font-size: 1.5rem;
  padding: 5px;
}


 .contactsItem {
    text-decoration: none;
    color: #274156;
    border-bottom: 1px solid #274156;
    padding: 1vh;
 }

.card {
  background-color: #FBFCFF;
  padding: 2vh;
  margin: 2vh;
  border: 1px solid #274156;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardOptions {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  padding-top: 5px;
  border-top: 1px solid #274156;
}

.cardOption {
  padding: 0 1em;
  text-decoration: none;
  color: #1C6E8C;
}

.address {
  display: flex;
}

.cardHeader {
  display: flex;
  justify-content:  space-between;
  padding-top: 0;
}

.cardIcon {
  margin: 10px;
  color: #274156;
}

.standardIcon {
  color: #274156;
}

.cardOptionIcon {
  color: #1C6E8C;
}

.cardDelete {
  color: red;
}

.qrPageWrapper {
  height: 60vh;
  width: 85vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.qrCodeWrapper {
  border: 5px solid #274156;
  padding: 20px;
}

.monogram {
  color: #FBFCFF;
  background-color: #1C6E8C;
  width:40px;
  height:40px;
  line-height: 40px;
  font-size: 35px;
  text-align:center;
  margin-right: 15px
}

.contact{
  text-decoration: none;
  color: #274156;
}

#page-wrap {
  text-align: center;

  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #FBFCFF;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  left: 15px;
  top: 15px;
  margin: 0;
  padding: 0;
  font-size: .5rem
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #FBFCFF;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #FBFCFF;
}

/* General sidebar styles */
.bm-menu {
  background: #274156;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #274156;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}


@media only screen and (max-device-width : 450px) {
  .topRow {
    width: 100vw;
    justify-content: center;
  }
  }
