body {
  background-color: #D0CCD0;
}

.loginForm {
  display: flex;
  flex-direction: column;
  padding: 3vh;
  margin: 1vh;
  border: 1px solid red;
  border-radius: 15px;
}

.loginRow {
  margin: 1vh;
  padding: 1vh;
}
 .buttonSignIn {
   margin: 1vh;
   padding: 1vh;
   border: 1px solid red;
   text-align: center;
 }
